<h2 class="text-secondary bg-primarynav-link text-center">DETALLE DE LA CARTERA</h2>
<header class="d-flex ">
  <a class="mr-auto mt-3 align-middle text-secondary" routerLink='/carteras'>
    <mat-icon class="mr-3 align-middle text-secondary" style="transform: scale(2);">undo</mat-icon>
    <span>Volver a consultar Carteras</span>
  </a>
  <button class="p-2 ml-2 btn btn-info" mat-raised-button [routerLink]="['/carteras/form', idCartera]"> Editar
    Cartera</button>
  <button class="p-2 ml-2 btn btn-danger" (click)="borrarCartera()" mat-raised-button>Baja Cartera</button>
</header>

<section class=" container-fluid ">
  <h2 class="text-secondary text-center">Datos Básicos de la Cartera</h2>
  <h3>
    <div class="row text-info">
      <mat-icon>schedule</mat-icon>
      <span class="col">{{cartera.fechaCreacionCartera | date: 'd/M/yyyy H:mm'}}</span>
      <span class="col">Cartera: {{cartera.nombre}}</span>
      <span class="col">{{cartera.capitalInvertido.toFixed(2)}} € invertidos</span>
      <span class="col">{{cartera.rentabilidad.toFixed(2)}} % de rentabilidad</span>
    </div>
  </h3>
  <h2 class="text-secondary text-center">Fondos de Inversión en Cartera</h2>
  <h4>
    <div id="listaFondos" class=" text-info d-flex justify-content-left">

      <ul>
        <li *ngFor="let fondo of fondos" class="mb-1">
          <mat-icon [style.color]="fondo.riesgo==='ALTO'? 'red':'green'">trending_up</mat-icon>
          <span class="nombre">{{fondo.nombre}}</span>
          <span class="sector">Sector: {{fondo.sector}}</span>
          <span class="riesgo">Riesgo: {{fondo.riesgo}}</span>
          <span class="tipo">Tipo: {{fondo.tipo}}</span>
          <span class="capital">Capital:{{fondo.capitalInvertido}} €</span>
        </li>
      </ul>
    </div>
  </h4>
</section>

<div class="text-center">
  <h2 class="text-secondary text-center">Rellene los siguientes campos para dar de alta un fondo en su cartera</h2>
  <form #f='ngForm' class="d-flex flex-column mt-1 MiForm" (ngSubmit)='crearFondo()'>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput #nombre='ngModel' [(ngModel)]='fondo.nombre' name='nombre' class= "nombreFondo" required minlength="4" maxlength="10">
      <mat-error>Campo requerido con al menos 4 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sector </mat-label>
      <mat-select [(ngModel)]="fondo.sector" name="sector" required>
        <mat-option *ngFor='let sector of sectores' value="{{sector}}">{{fondo.sector}}</mat-option>
      </mat-select>
      <mat-error>Seleccione un sector</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo </mat-label>
      <mat-select [(ngModel)]="fondo.tipo" name="tipo" required>
        <mat-option *ngFor='let tipo of tipos' value="{{tipo}}">{{fondo.tipo}}</mat-option>
      </mat-select>
      <mat-error>Seleccione un tipo</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Inversión en el fondo</mat-label>
      <input matInput #capitalIvertido='ngModel' [(ngModel)]='fondo.capitalInvertido' name='capitalInvertido' required
        minlength="1" maxlength="20">
        <mat-error>Introduzca el capital invertido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio de compra</mat-label>
      <input matInput #rentabilidad='ngModel' [(ngModel)]='fondo.precioParticipacion' name='rentabilidad' required
        minlength="1" maxlength="8">
      <mat-error>Introduzca el precio de compra de las participaciones del fondo</mat-error>
    </mat-form-field>

    <div class="mt-1">
      <button type="submit" mat-button [disabled]='f.invalid'>
        <mat-icon class="align-middle mr-2" style="color: green; transform: scale(1.2);">add_circle</mat-icon>
        <span>Alta fondo</span>
      </button>

    </div>


  </form>
</div>
