<h2 class="text-secondary bg-primarynav-link text-center">DETALLE DE LA CARTERA</h2>
<header class="d-flex ">
  <a class="mr-auto mt-3 align-middle text-secondary" routerLink='/carteras'>
    <mat-icon class="mr-3 align-middle text-secondary" style="transform: scale(2);">undo</mat-icon>
    <span>Volver a consultar Carteras</span>
  </a>
  <button class="p-2 ml-2 btn btn-info" mat-raised-button > Editar Cartera</button>
  <button class="p-2 ml-2 btn btn-danger" mat-raised-button>Baja Cartera</button>
</header>

<section class=" container-fluid ">
  <h2 class="text-secondary text-center">Datos Básicos de la Cartera</h2>
  <h3>
    <div class="row text-info">
      <mat-icon>schedule</mat-icon>
      <span class="col">{{cartera.fechaCreacionCartera | date: 'd/M/yyyy H:mm'}}</span>
      <span class="col">Cartera: {{cartera.nombre}}</span>
      <span class="col">{{cartera.capitalInvertido.toFixed(2)}} € invertidos</span>
      <span class="col">{{cartera.rentabilidad.toFixed(2)}} % de rentabilidad</span>
    </div>
  </h3>
  <h2 class="text-secondary text-center">Fondos de Inversión en Cartera</h2>
  <h4>
    <div  id="listaFondos" class=" text-info d-flex justify-content-left">

      <ul>
        <li *ngFor="let fondo of fondos" class="mb-1">
          <mat-icon [style.color]="fondo.riesgo==='ALTO'? 'red':'green'">trending_up</mat-icon>
          <span class="nombre">{{fondo.nombre}}</span>
          <span class="sector">Sector: {{fondo.sector}}</span>
          <span class="riesgo">Riesgo: {{fondo.riesgo}}</span>
          <span class="tipo">Tipo: {{fondo.tipo}}</span>
          <span class="capital">Capital:{{fondo.capitalInvertido}} €</span>


        </li>
      </ul>

    </div>
  </h4>
</section>

<a class="d-block text-right mt-5 text-secondary" href="#">
  <mat-icon class="align-middle mr-2" style="color: green; transform: scale(1.2);">add_circle</mat-icon>Añadir Fondo
</a>
