bin/
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
.project

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front/MisInversionesWeb/dist
/front/MisInversionesWeb/tmp
/front/MisInversionesWeb/out-tsc
# Only exists if Bazel was run
/front/MisInversionesWeb/bazel-out

# dependencies
/front/MisInversionesWeb/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/front/MisInversionesWeb/.idea
/front/MisInversionesWeb.project
/front/MisInversionesWeb.classpath
/front/MisInversionesWeb.c9/
/front/MisInversionesWeb*.launch
/front/MisInversionesWeb.settings/
/front/MisInversionesWeb*.sublime-workspace

# IDE - VSCode
/front/MisInversionesWeb.vscode/*
/front/MisInversionesWeb!.vscode/settings.json
/front/MisInversionesWeb!.vscode/tasks.json
/front/MisInversionesWeb!.vscode/launch.json
/front/MisInversionesWeb!.vscode/extensions.json
/front/MisInversionesWeb.history/*

# misc
/front/MisInversionesWeb/.sass-cache
/front/MisInversionesWeb/connect.lock
/front/MisInversionesWeb/coverage
/front/MisInversionesWeb/libpeerconnection.log
/front/MisInversionesWebnpm-debug.log
/front/MisInversionesWebyarn-error.log
/front/MisInversionesWebtestem.log
/front/MisInversionesWeb/typings

# System Files
/front/MisInversionesWeb.DS_Store
/front/MisInversionesWebThumbs.db