<header>
  <figure>
    <img class="logo rounded mx-auto d-block img-fluid" src="../../../assets/img/logo.png" alt="logo">
  </figure>
  <div>
    <nav class="rayaBottom nav-pills nav-fill">
      <ul class=" h4 nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink='/' routerLinkActive="enlaceActivo" [routerLinkActiveOptions]="{exact:true}" >Inicio</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink="carteras" routerLinkActive="enlaceActivo"  [routerLinkActiveOptions]="{exact:true}">Consultar
            Carteras</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary nav-link disabled" routerLink="carteras/detalle" routerLinkActive="enlaceActivo"
            tabindex="-1" aria-disabled="true"  [routerLinkActiveOptions]="{exact:true}">Detalle Cartera</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink="carteras/form" routerLinkActive="enlaceActivo"  [routerLinkActiveOptions]="{exact:true}">Crear
            Cartera</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
