<header>
  <figure>
    <img class="logo rounded mx-auto d-block img-fluid" src="../../../assets/img/logo.png" alt="logo">
  </figure>
  <div>
    <nav class="rayaBottom nav-pills nav-fill">
      <ul class=" h4 nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink='/' routerLinkActive="enlaceActivo">Inicio</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink="carteras" routerLinkActive="enlaceActivo">Consultar
            Carteras</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary nav-link disabled" routerLink="detalleCartera" routerLinkActive="enlaceActivo"
            tabindex="-1" aria-disabled="true">Detalle Cartera</a>

        </li>
        <li class="nav-item">
          <a class="text-secondary bg-primarynav-link" routerLink="carteras/form" routerLinkActive="enlaceActivo">Crear
            Cartera</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
