<div class="text-secondary p-4 bd-highlight" id="panelIzquierdo">


  <h5 class="my-5 mx-2  ">

    <ul class="list-group">
      <li class="list-group-item list-group-item-success ">
        <a class="align-middle text-secondary"  routerLink="form">
          <mat-icon class="mr-2 align-middle text-dark">card_travel
          </mat-icon>Alta Nueva Cartera
        </a>
      </li>
    </ul>


    <figure class="mt-5 mb-5"><img class="d-flex border border-secondary rounded img-fluid m-auto" src="../../../assets/img/regar.jpg"
        alt="grafica"></figure>

  </h5>
</div>
