<div class="text-secondary p-4 bd-highlight" id="panelIzquierdo">


  <h5 class="my-5 mx-2  ">

    <ul class="list-group">
      <li class="list-group-item">
        <a class="align-middle" routerLink="form">
          <mat-icon class="mr-2 align-middle text-dark">add_circle</mat-icon>Crear Cartera
        </a>
      </li>
      <li class="list-group-item">
        <a class="align-middle" routerLink="#">
          <mat-icon class="mr-2 align-middle text-dark">add_circle</mat-icon>Alta/Baja fondo
        </a>
      </li>
      <li class="list-group-item">
        <a class="align-middle" routerLink="#">
          <mat-icon class="mr-2 align-middle text-dark">add_circle</mat-icon>Alta/Baja usuario
        </a>
      </li>
      <li class="list-group-item">
        <a class="align-middle" routerLink="#">
          <mat-icon class="mr-2 align-middle text-dark">add_circle</mat-icon>Eliminar Cartera
        </a>
      </li>

    </ul>


    <figure class="mt-5 mb-5"><img class="d-flex rounded img-fluid m-auto" src="../../../assets/img/regar.jpg"
        alt="grafica"></figure>

  </h5>
</div>
