.rayaHorizontal {
  border-top: 4px solid #8c8b8b;
}


#listaCarteras {
  font-size: 1.5em;
}

#listaCarteras li {
  list-style: none;
  position: relative;
  height: 60px;
}

#listaCarteras mat-icon {
  position: relative;
  top: 8px;
  margin-right: 15px;
  font-size: 1.5em;
}

#listaCarteras .nombre {
  position: absolute;
  left: 375px;
  top: 9px;
  font-weight: 500;

}

#listaCarteras .capital {
  position: absolute;
  left: 600px;
  top: 9px;
  font-weight: 500;

}

#listaCarteras .rentabilidad {
  position: absolute;
  left: 750px;
  top: 9px;
  font-weight: 500;

}

.carteraNegativa>* {
  color: red;
}
