<div>
  <div class="h5 text-secondary text-center">Haga "click" en la cartera para conocer sus detalles </div>
  <mat-form-field class="d-block">
    <input #buscar matInput placeholder="Buscar..." (keyup.enter)="filtrar(buscar.value)">
  </mat-form-field>
  <div class="text-danger" *ngIf='carterasLista.length == 0 && buscar.value != ""'>
    No hay carteras con el nombre '{{buscar.value}}'
  </div>
  <div>
    <div *ngIf="carterasLista.length > 0" class="h5 text-secondary">Resultados 1 - {{carterasLista.length}} de
      {{carterasLista.length}} carteras</div>
  </div>

  <div id="listaCarteras" class="container-fluid">
    <div class="mt-3  row text-info d-flex">
      <ul >
        <li class=" mb-4 text-info" *ngFor="let cartera of carterasLista"
          [class.carteraNegativa]="isRentabilidadNegativa(cartera)">
          <favorito class="mr-4 ml-3" escala="1.8" coleccion="carteras_alto_rendimiento"
            [valor]="carterasService.getIdCartera(cartera)" (cambia)="cambiaCarteraFavorito($event)">
          </favorito>
          <mat-icon escala="2">
            card_travel
          </mat-icon>
          <!--|date:'d/M/yyyy H:mm'-->
          <a [routerLink]="['/carteras', carterasService.getIdCartera(cartera)]">
            <span class="col">{{cartera.fechaCreacionCartera | date: 'd/M/yyyy'}}</span>
            <span class="col">{{cartera.nombre}}</span>
            <span class="col">{{cartera.capitalInvertido.toFixed(1)}}€</span>
            <span class="col">RF: {{cartera.rentabilidad.toFixed(2)}}%</span>
          </a>

        </li>

      </ul>
    </div>
  </div>


</div>
